body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font: 12px "Arial Unicode MS", Arial, Helvetica, sans-serif;
	background: #ccd7e1 url(/cms/Icons/back5.gif);
}

#response { margin: 20px 20px 0 20px; }

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 2px solid #cdcfce;
	background: #fff;
	padding: 7px 10px 3px;
	margin: 0 -20px;
	width: 100%;
}

button {
	display: block;
	float: right;
	margin: 0 3px 0 3px;
	background: url(/cms/Icons/CommandButtons/background.gif) repeat-x;
	border: 1px solid #afafaf;
	font-size: 12px;
	text-align: left;
	width: 70px;
}

button div { padding: 4px 5px 4px 20px; margin: 0 5px; }
button div.submit { background: url(/cms/Icons/CommandButtons/start.gif) no-repeat 0 3px; }
button div.cancel { background: url(/cms/Icons/CommandButtons/no.gif) no-repeat 0 3px; }
button div.close  { background: url(/cms/Icons/CommandButtons/close.gif) no-repeat 0 3px; }
